---
import Layout from "@src/layouts/Layout.astro";
import { auth } from "@prisma/init";
import { AuthRequest } from "@lucia-auth/astro";
import { AddJournals } from "@src/components/preact/addJournals";

const authRequest = new AuthRequest(auth, Astro);
const { user } = await authRequest.validateUser();

if (!user) {
	return Astro.redirect("/login", 302);
}
---

<Layout title="Oceanus PRM">
	<main>
		<AddJournals client:load />
	</main>
</Layout>