@import "./bulma.min.css";

html,
body {
  background-color: #e3e3e3;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  #loginNotify {
    position: absolute;
    right: 0;
    max-width: 20%;
    margin-right: 20px;
  }
}

.navbar-burger-toggle + .navbar-burger {
  margin-top: -3.25em;
}

.navbar-burger-toggle:checked + .navbar-burger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger-toggle:checked + .navbar-burger span:nth-child(2) {
  opacity: 0;
}

.navbar-burger-toggle:checked + .navbar-burger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-burger-toggle:checked ~ .navbar-menu {
  display: block;
}