@import "./bulma.min.css";

html,
body {
  background-color: #e3e3e3;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  #loginNotify {
    position: absolute;
    right: 0;
    max-width: 20%;
    margin-right: 20px;
  }
}

#greet-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 64px 64px 64px;
  grid-gap: 1px;
  padding: 10px;
  overflow: hidden;
}

#tile1 {
  background-color: #8aacff;
}

#tile2 {
  background-color: #626fe6;
}

#tile3 {
  background-color: #6d42c7;
}

#tile4 {
  background-color: #e85b48;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btn {
  display: flex;
  margin-left: 4.5rem;
  max-width: 200px;
}

@media (width >= 600px) {
  #btn {
    display: flex;
    margin-left: 23.5rem;
    max-width: 200px;
  }
}

.navbar-burger-toggle + .navbar-burger {
  margin-top: -3.25em;
}

.navbar-burger-toggle:checked + .navbar-burger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger-toggle:checked + .navbar-burger span:nth-child(2) {
  opacity: 0;
}

.navbar-burger-toggle:checked + .navbar-burger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-burger-toggle:checked ~ .navbar-menu {
  display: block;
}