---
import AuthLayout from "@layouts/AuthLayout.astro";
import { auth } from "@prisma/init";
import { AuthRequest } from "@lucia-auth/astro";
import Signin from "@components/signin.astro";
import { handleAuthLogin } from "@utils/validator";

const authRequest = new AuthRequest(auth, Astro);

//Check if user already has a valid session
const session = await authRequest.validate();
if (session) {
    return Astro.redirect("/", 302);
}

//Handle login form
if (Astro.request.method === "POST") {
    // csrf check
	const requestOrigin = Astro.request.headers.get("origin");
	const isValidRequest = !!requestOrigin && requestOrigin === Astro.url.origin;
	if (!isValidRequest) {
		return new Response(null, {
			status: 403
		});
	}

    try {
        const form = Object.fromEntries(await Astro.request.formData());
        const result = await handleAuthLogin(form);

        if (!result.success) {
            throw new Error();
        }

        const key = await auth.validateKeyPassword(
				"username",
				result.data.username,
				result.data.password
			);
			const session = await auth.createSession(key.userId);
        
        authRequest.setSession(session);

        return Astro.redirect("/", 302);

    } catch (error) {
        Astro.response.status = 400;
    }
}
---

<AuthLayout title="Login">
    <div class="columns is-centered">
        <div class="column is-half">
            <main>
                {Astro.response.status == 400 ? (
                    <section class="section">
                        <div id="loginNotify" class="notification is-danger">
                            <button onclick="this.parentNode.style.display='none'" class="delete"></button>
                            Your login credentials are incorrect.
                        </div>
                    </section>
                ) : (null)}
                <Signin />
            </main>
        </div>
    </div>
</AuthLayout>