---
import AuthLayout from "@layouts/AuthLayout.astro";
import Signup from "@components/signup.astro";
import { auth } from "@prisma/init";
import { AuthRequest } from "@lucia-auth/astro";
import { handleAuthRegister } from "@utils/validator";

const authRequest = new AuthRequest(auth, Astro);

//Check if user already has a valid session
const session = await authRequest.validate();
if (session) {
    return Astro.redirect("/", 302);
}

//Handle signup form
if (Astro.request.method === "POST") {
    // csrf check
	const requestOrigin = Astro.request.headers.get("origin");
	const isValidRequest = !!requestOrigin && requestOrigin === Astro.url.origin;
	if (!isValidRequest) {
		return new Response(null, {
			status: 403
		});
	}

    try {
        const form = Object.fromEntries(await Astro.request.formData());
        const result = await handleAuthRegister(form);

        if (!result.success) {
            Astro.response.headers.set("error", result.error.toString());
            throw new Error();
        }

        const username = result.data.username as string;
        const password = result.data.password as string;

        const user = await auth.createUser({
				primaryKey: {
					providerId: "username",
					providerUserId: username,
					password
				},
				attributes: {
					username
				}
			});

        const session = await auth.createSession(user.userId);
        
        authRequest.setSession(session);

        return Astro.redirect("/", 302);

    } catch (error) {
        console.log(error);
        Astro.response.status = 400;
    }
}
---

<AuthLayout title="Register">
    <div class="columns is-centered">
        <div class="column is-half">
            <main>
                {Astro.response.status == 400 ? (
                    <section class="section">
                        <div id="loginNotify" class="notification is-danger">
                            <button onclick="this.parentNode.style.display='none'" class="delete"></button>
                            {Astro.response.headers.get("error")}
                        </div>
                    </section>
                ) : (null)}
                <Signup />
            </main>  
        </div>
    </div>
</AuthLayout>