---
---

<section class="section pt-0">
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article id="tile1" class="tile is-child notification is-primary">
                        <p class="title">Organization</p>
                        <p class="subtitle">Keep track of important dates and set notes in your journal to never forget them.</p>
                    </article>
                    <article id="tile2" class="tile is-child notification is-warning">
                        <p class="title has-text-white">Health</p>
                        <p class="subtitle has-text-white">Use <i>Oceanus PRM</i> to keep your relationships healthy and strong.</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article id="tile3" class="tile is-child notification is-info">
                        <p class="title">Communication</p>
                        <p class="subtitle">Use key information to develop effective communication strategies and improve your relationships.</p>
                        <figure class="image is-4by3">
                            <img src="/img/ODC_SNNCELEXF.jpg" alt="Dashboard Image" />
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article id="tile4" class="tile is-child notification is-danger">
                    <p class="title">Peace of mind</p>
                    <p class="subtitle">Keep your data to yourself, we won't see any of it.</p>
                    <div class="content">
                        <ul>
                            <li>Use docker-compose to self-host <i>Oceanus PRM</i> on prem</li>
                            <li>Lock down your data and keep it from prying eyes</li>
                            <li>See the code on <a href="https://github.com/CM-IV">GitHub</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>