---
import { Signout } from "./preact/signout";
---

<nav class="navbar mb-4" id="nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="image is-48x48 mt-1" href="/">
        <img src="https://ik.imagekit.io/xbkhabiqcy9/img/saasczar_g0Yhd-5hH.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667482868923" 
        height="48" width="48"class="image-responsive" alt="logo">
      </a>
    </div>
  
    <input type="checkbox" id="navbar-burger-toggle" class="navbar-burger-toggle is-hidden" />
    <label for="navbar-burger-toggle" class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </label>
  
    <div id="navMenu" class="navbar-menu is-mobile">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
        <a href="/people" class="navbar-item">
          Contacts
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <Signout client:load />
        </div>
      </div>
    </div>
</nav>