<div class="box mt-6">
    <p class="title">Register</p>

    <form method="POST">
        <div class="field">
            <label for="username" class="label">Username</label>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="username"
                    placeholder="Username"
                    required
                />
            </div>
        </div>
    
        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
                <input
                    class="input"
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                />
            </div>
        </div>
        <div class="field">
            <label for="confirmPassword" class="label">Confirm Password</label>
            <div class="control">
                <input
                    class="input"
                    type="password"
                    name="confirmPassword"
                    placeholder="Confirm Password"
                    required
                />
            </div>
        </div>
    
        <div class="field">
            <div class="item">
                <div class="loginButton">
                    <button class="button is-primary" type="submit">
                    Sign up
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>